{% extends 'index.html' %}

{% block title%} Faça seu Registro {% endblock %}
{% block content %}
<h1 style="text-align:center; font-family: 'Roboto', sans-serif; font-size: 24px; font-weight: bold;">Registrar</h1>
<div class=" container border shadow-lg bg-body rounded ">
    <form class="d-flex justify-content-center my-4", method="post">
      <div class="row">
        <div class="col-md-6">
          <label for="form-control">Nome</label>
          {{form.first_name}}
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-6 my-4">
          <label for="sector_name">Setor</label>
          {{form.sector_name}}
        </div>
      </div>
    </form>
</div>
{% endblock %}