{% extends 'index.html' %}

{% block content %}
<div class="container">

    <table class="table">
        <thead class="thead-dark">
    <h2 class="text-center my-4">Registro Unificado de Ações</h2>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Tipo de Registro</th>
        <th scope="col">Tecnico não Presencial</th>
        <th scope="col">Tecnico Presencial</th>
        <th scope="col">Outras Ações</th>
        <th scope="col">Numero de Funcionario Atendidos</th>
        <th scope="col">Descrição</th>
        <th scope="col">Data Ação</th>
  </tr>
</thead>
<tbody>
    {% for table in tables_actions %}
    <tr>
        <th scope="row">{{table.id}}</th>
        <td>{{table.acao_realizada}}</td>
        <td>{{table.tecnico_nao_presencial}}</td>
        <td>{{table.tecnico_presencial}}</td>
        <td>{{table.outras_acoes}}</td>
        <td>{{table.numbers_employee}}</td>
        <td>{{table.description_action}}</td>
        <td>{{table.date_actions}}</td>
        <form action="{% url 'deleteTableAction' id=table.id %}" method="POST">
            {% csrf_token %}
            <td><button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></td>
        </form>
    
    </tr>
        {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>

<div class="container">
    <table class="table">
        <thead class="thead-dark">
    <h2 class="text-center my-5">Registro Unificado de Eventos</h2>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome do Evento</th>
        <th scope="col">Data do Evento</th>
    </tr>
</thead>
<tbody>
    {% for table in tables_events %}
    <tr>
        <th scope="row">{{table.user}}</th>
        <td>{{table.title_event}}</td>
        <td>{{table.event_feature}}</td>
        <form action="{% url 'deleteTableEvent' id=table.id %}" method="POST">
            {% csrf_token %}
            <td><button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></td>
        </form>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}